@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #0c1022;
    color: #ffF;
}
/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -100;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -100;
}   
/* logo messia */
.logo {
    font-size: 2rem;
    color: #3cf;
    text-decoration: none;
    font-weight: 700;
    opacity: 0;
    animation: slidetop 1s ease forwards;
}
/* navbar a */
.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    opacity: 0;
    animation: slidetop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    display: inline-block;
    transition: .3s;
}

.navbar a:hover {
    background: linear-gradient(45deg, #3cf, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    color: #3cf;
}
/* checkbox */
#check {
    display: none;
}
/* icons menu and X */
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
/* SECTION HOME */
.home {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
/* home-conte:textes */
.home-content {
    max-width: 500px;
    margin: 0;
}
/* home-conte:h1 */
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    font-style: italic;
    font-family: cursive;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: .7s;
}
/* home-conte:h3 */
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1s;
}
/* home-conte:p */
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.3s;
}
/* button here me */
.btn {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19PX;
    color: #ffF;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #3cf, #3cf, #3cf);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(5px);
    transition: .5s ease;
}
.btn:hover::before {
    transform: scale(1.3);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #3cf, #3cf, #3cf);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after{
    transform: scale(1.2);
}
/* home internet */
.home-int a {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    background: #3cf;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    z-index: 1;
}

.home-int a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-int a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-int a:nth-child(3) {
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-int a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3cf;
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-int a:hover::before {
    filter: blur(10px);
}

.home-int a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    transform: scale(.88);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}
    

.home-int a:hover::after {
    transform: scale(0);
}
/* home img */
.home-img {
    width: 30rem;
    height: 30rem;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}
/* glowing circle */
.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* span */
.glowing-circle span {
    position: absolute;
    width: 390px;
    height: 390px;
    background: #3cf;
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1){
    filter: blur(10px);
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}
/* image */
.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: -50px;
    left: 5%;
    max-width: 340px;
    object-fit: cover;
}
/* ABOUT */
.about {
    width: 100%;
    height: 100vh;
}
.about h1 {
    text-align: center;
    font-style: italic;
    font-family: cursive;
}
.about-content {
    padding: 5% 10%;
}
.about-content h2 {
    opacity: 0;
    animation: slideLeft .9s ease forwards;
    animation-delay: .7s;
}
.about-content h2 span {
    color: #3cf;
}
.about-content h3 {
    color: #3cf;
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: 1s;
}
.about-content p {
    opacity: 0;
    animation: slideRight .7s ease forwards;
    animation-delay: 1.3s;
}
.about-content p .out {
    color: #3cf;
    font-size: 1.5rem;
    font-weight: bold;
}
.about-content p .eni {
    font-weight: bold;
    color: #3cf;
}
.name {
    text-align: center;
    width: 600px;
    margin-left: 10rem;
    margin-bottom: 5rem;
    background: #161616;
    border: 1px solid #3cf;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2.1s;
}
.box {
    padding: 1.5rem;
    border: 1px solid #2d2d2d;
}
.box span {
    color: #7a7a7a;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.box h3 {
    color: white;
    margin-top: 1rem;
    font-size: 15px;
}

/* KEYFRAMES */
@keyframes slidetop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft{
     0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{ 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
     0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{ 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* RESPONSIVE DESIGN */
@media (max-width: 1280px) {
    .header {
        padding: 1.2rem 5%;
    }
    .home-int {
        padding: 1.3rem 9%;
    }
    .home-img {
        margin-left: 1.5rem;
    }
    .home-img .glowing-circle::after {
        width: 310px;
        height: 310px;
    }
    .glowing-circle .image {
        width: 310px;
        height: 310px;
    }
    .glowing-circle span {
        width: 320px;
        height: 320px;
    }
    .image img {
        left: -1.5%;
        top: -70px;
    }
    .name {
        width: 500px;
        margin-left: 8rem;
    }
    .box {
       padding: .5rem;
    }
    .box h3 {
        font-size: 12px;
        margin-top: 0;
    }
    .box span {
        font-size: 11px;
        letter-spacing: 1px;
    }
}

@media (max-width: 770px) {
    .home-img {
        width: 280px;
        height: 280px;
        margin-left: 0;
    }
    .home-img .glowing-circle::after {
        width: 270px;
        height: 270px;
    }
    .glowing-circle .image {
        width: 270px;
        height: 270px;
    }
    .glowing-circle span {
        width: 290px;
        height: 290px;
    }
    .image img {
        max-width: 240px;
        left: 6%;
        top: -40px;
    }
    .name {
        width: 500px;
        margin-left: 5rem;
    }
    .box span {
        font-size: 11px;
        letter-spacing: 1px;
    }
}

@media (max-width: 700px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

     #check:checked~.icons #close-icon {
        display: block;
     }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: transparent;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, O, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
    }
    .home {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 20px;
        padding: 90px 5% 20px;
        height: auto;
        
    }
    .home-content h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    }
    .home-int {
        display: flex;
        gap: 20px;
    }
    .btn {
        bottom: 30px;
    }
    .name {
        width: 300px;
        margin-left: 3rem;
    }
    .box h3 {
        font-size: 8px;
    }
    .box span {
        font-size: 8px;
    }
    /*
    @media (max-width: 600px) {
    .name {
        width: 200px;
        margin-left: 3rem;
    }
    .box h3 {
        font-size: 10px;
    }
    .box span {
        font-size: 9px;
    }
    }

    }