@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #0c1022;
    color: #ffF;
}
/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -100;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -100;
}   
/* logo messia */
.logo {
    font-size: 2rem;
    color: #ed9c4d;
    text-decoration: none;
    font-weight: 700;
    opacity: 0;
    animation: slidetop 1s ease forwards;
}
/* navbar a */
.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    opacity: 0;
    animation: slidetop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    display: inline-block;
    transition: .3s;
}

.navbar a:hover {
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}
/* checkbox */
#check {
    display: none;
}
/* icons menu and X */
.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ed9c4d;
    cursor: pointer;
    display: none;
}
/* SECTION HOME */
.home {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
/* home-conte:textes */
.home-content {
    max-width: 500px;
    margin: 0;
}
/* home-conte:h1 */
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    font-style: italic;
    font-family: cursive;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: .7s;
}
/* home-conte:h3 */
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1s;
}
/* home-conte:p */
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1.3s;
}
/* button here me */
.btn {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19PX;
    color: #ffF;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(5px);
    transition: .5s ease;
}
.btn:hover::before {
    transform: scale(1.3);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after{
    transform: scale(1.2);
}
/* home internet */
.home-int a {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    z-index: 1;
}

.home-int a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-int a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-int a:nth-child(3) {
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-int a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-int a:hover::before {
    filter: blur(10px);
}

.home-int a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    transform: scale(.88);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}
    

.home-int a:hover::after {
    transform: scale(0);
}
/* home img */
.home-img {
    width: 30rem;
    height: 30rem;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}
/* glowing circle */
.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* span */
.glowing-circle span {
    position: absolute;
    width: 390px;
    height: 390px;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1){
    filter: blur(10px);
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}
/* image */
.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: -50px;
    left: 5%;
    max-width: 340px;
    object-fit: cover;
}
/* ABOUT */
.about {
    width: 100%;
    height: 100vh;
    padding: 120px 8% 50px;
    margin: 0;
}
.about h5 {
    letter-spacing: 8px;
    font-style: italic;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}
.about h5 span {
    color: #ed9c4d;
}
.about-content h2 {
    opacity: 0;
    animation: slideLeft .9s ease forwards;
    animation-delay: .7s;
}
.about-content h2 span {
    color: #f1cd90;
}
.about-content h3 {
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: 1s;
}
.about-content h3 span {
    color: #f1cd90;
}
.about-content p {
    color: #bfbfbf;
    opacity: 0;
    animation: slideRight .7s ease forwards;
    animation-delay: 1.3s;
}
.about-content p .out {
    color: #ed9c4d;
    font-size: 1.5rem;
    font-weight: bold;
}
.about-content p .eni {
    font-weight: bold;
    color: #f1cd90;
}
.name {
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    background: #161616;
    border: 1px solid #ed9c4d;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2.1s;
}
.box {
    padding: 1.5rem;
    border: none solid #2d2d2d;
}
.box i {
    font-size: 1.5rem;
    color: #ed9c4d;
}
.box span {
    color: #7a7a7a;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.box h3 {
    color: white;
    margin-top: 1rem;
    font-size: 15px;
}
.buttom {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2.1s;
}
.buttom a {
    margin: 0;
    gap: 10px;
    text-decoration: none;
    color: #fff;

}
.btn1 {
    position: relative;
    display: inline-flex;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    width: 180px;
    height: 48px;
    border-radius: 10px;
    font-size: 19PX;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
.btn1::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 90%;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}
.btn1:hover::before {
    filter: blur(10px);
}
.btn1::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 90%;
    background: #161616;
    border-radius: 10px;
    transform: scale(1);
    z-index: -1;
    transition: .5s ease;
}
.btn1:hover::after {
    transform: scale(0);
}
.btn2 {
    position: relative;
    display: inline-flex;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    width: 180px;
    height: 48px;
    border-radius: 10px;
    font-size: 19PX;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
.btn2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f1cd90, #ed9c4d, #ed9c4d);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}
.btn2:hover::before {
    filter: blur(10px);
}
.btn2::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 90%;
    background: #161616;
    border-radius: 10px;
    transform: scale(0);
    z-index: -1;
    transition: .5s ease;
}
.btn2:hover::after {
    transform: scale(1);
}
.stats {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 3rem;
    background: #111827;
    border: 1px solid #ed9c4d;
    border-radius: 15px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2.1s;
}
.stats-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.stats-box:last-child{
    border-right: none;
}
.stats-box i {
    font-size: 40px;
    color: #ed9c4d;
}
.stats-box h2 {
    color: #fff;
    font-size: 2rem;
}
.stats-box p {
    color: #bfbfbf;
    font-size: .9rem;
}
/* SKILLS */
.skills {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100vh;
    padding: 300px 8% 50px;
    margin: 20px 0;
}
.skills-box {
    width: 40%;
    background: #111827;
    border: 1px solid #ed9c4d;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    transition: 1s;
}
.skills-box:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #ed9c4d;
}
.skills-box h2 {
    letter-spacing: 5px;
    font-style: italic;
}
.skills-box h2 span {
    color: #ed9c4d;
}
.skill {
    margin: 20px 0;
    width: 100%;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 15px;
}
.info span #html {
    font-size: 2rem;
    color: #ff381e;
}
.info span #css {
    font-size: 2rem;
    color: #1e90ff;
}
.info span #git {
    font-size: 2rem;
}
.progress {
    height: 8px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.bar {
    height: 100%;
    width: 0;
    background: #db7d20;
    border-radius: 20px;
    animation: fill 3s forwards;
}
.button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #f1cd90;
    color: #fff;
    cursor: pointer;
}
.button:hover {
    background: #f1cd90;
}
.services {
    position: relative;
    width: 100%;
    background: #111827;
    border: 1px solid #ed9c4d;
    border-radius: 15px;
    padding: 20px;
    z-index: 1;
}
.services h2 {
    letter-spacing: 5px;
    font-style: italic;
}
.services h2 span {
    color: #ed9c4d
}
.services-card{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 20px;
}
.card {
    background: rgba(45, 45, 45, 0.35);
    width: 100%;
    padding: 1rem;
    height: 100%;
    border: 1px solid #ed9c4d;
    border-radius: 10px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .3s;
}
.card:hover {
    box-shadow:0 0 20px #f1cd90, 0 0 40px #ed9c4d;
    cursor: pointer;
}
.services-card i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ed9c4d;
    font-size: 3rem;
}
.services-card h3 {
    text-align: center;
    font-size: 1rem;
}
.services-card p {
    text-align: center;
    font-size: .9rem;
}
/* PROJECTS */
.Projects {
    width: 100%;
    height: 100vh;
    padding: 400px 8% 50px;
    margin: 0;
}
.projects-box {
    width: 100%;
    background: #111827;
    border: 1px solid #ed9c4d;
    border-radius: 15px;
    padding: 20px;
}
.projects-box h2 {
    letter-spacing: .3rem;
    font-style: italic;
}
.projects-box span {
    color: #db7d20;
}
.projects-card {
    display: flex;
    gap: 30px;
    padding: 15px 0;
    height: 100%;
    width: 100%;
}
.project {
    background: #0c1022;
    width: 30%;
    padding: 1rem;
    height: 100%;
    border: 1px solid #f1cd90;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .3s;
}
.project:hover {
    box-shadow:0 0 20px #f1cd90, 0 0 40px #ed9c4d;
    cursor: pointer;
}
.project img {
    width: 100%;
    height: 100%;
}
.project h3 {
     background: linear-gradient(45deg, #ed9c4d, #f1cd90, #ed9c4d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.project p {
    color: #bfbfbf;
}
.project i {
    font-size: 2rem;
    color: #f1cd90;
}
.projects-btn {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}
.projects-btn a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.view {
    background: #ed9c4d;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
.github {
    width: 100%;
    border: 1px solid #ed9c4d;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
.education-card {
    width: 100%;
    background: #2d2d2d;
    border: 1px solid #ed9c4d;
    border-radius: 20px;
    padding: 30px;
    transition: .4s;
}
.title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 35px;
}
.title i {
    color: #ed9c4d;
    font-size: 28px;
}
.timeline {
    position: relative;
    margin-left: 15px;
    padding-left: 35px;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 5px;
    width: 2px;
    height: 100%;
    background: #ed9c4d;
}
.timeline-item {
    position: relative;
}
.timeline-dot {
    position: absolute;
    left: -35px;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2d2d2d;
    border: 2px solid #ed9c4d;
    box-shadow: 0 0 15px;
}
.timeline-date {
    color: #f1cd90;
    font-size: 15px;
    font-weight: 600;
}
.timeline-content h3 {
    color: #fff;
    font-size: 22px;
    margin: 12px 0 8px;
}
.timeline-content h4 {
    color: #d5d5d5;
    font-size: 17px;
    margin-bottom: 12px;
    font-weight: 500;
}
.timeline-content p {
    color: #9ca3af;
    line-height: 1.8;
    font-size: 15px;
}

/* KEYFRAMES */
@keyframes slidetop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft{
     0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{ 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
     0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{ 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes fill {
    to{
        width: var(--width);
    }
}
/* RESPONSIVE DESIGN */
@media (max-width: 1280px) {
    .header {
        padding: 1.2rem 5%;
    }
    .home-int {
        padding: 1.3rem 9%;
    }
    .home-img {
        margin-left: 1.5rem;
    }
    .home-img .glowing-circle::after {
        width: 310px;
        height: 310px;
    }
    .glowing-circle .image {
        width: 310px;
        height: 310px;
    }
    .glowing-circle span {
        width: 320px;
        height: 320px;
    }
    .image img {
        left: -1.5%;
        top: -70px;
    }
    .name {
        width: 500px;
    }
    .box {
       padding: .5rem;
    }
    .box h3 {
        font-size: 12px;
        margin-top: 0;
    }
    .box span {
        font-size: 11px;
        letter-spacing: 1px;
    }
    .skills-box h2 {
        font-size: 1rem;
    }
    .services h2 {
        font-size: 1rem;
    }
    .services-card i {
        font-size: 3rem;
    }
    .services-card h3 {
        font-size: .9rem;
    }
    .services-card p {
        font-size: .7rem;
    }
    .services-card {
        height: 60%;
    }
}

@media (max-width: 1000px) {
    .home-img {
        width: 280px;
        height: 280px;
        margin-left: 0;
    }
    .home-img .glowing-circle::after {
        width: 270px;
        height: 270px;
    }
    .glowing-circle .image {
        width: 270px;
        height: 270px;
    }
    .glowing-circle span {
        width: 290px;
        height: 290px;
    }
    .image img {
        max-width: 240px;
        left: 6%;
        top: -40px;
    }
    .name {
        width: 500px;
    }
    .box span {
        font-size: 11px;
        letter-spacing: 1px;
    }
    .buttom {
        padding: 0.5rem;

    }
    .stats-box i {
        font-size: 30px;
    }
    .stats-box h2 {
       font-size: 1rem;
    }
    .stats-box p {
       font-size: .5rem;
    }
    .skills {
        display: grid;
    }
    .skills-box {
        width: 89%;
    }
    .skills-box h2 {
        font-size: 1rem;
    }
    .services h2 {
        font-size: 1rem;
    }
    .services-card i {
        font-size: 1.5rem;
    }
    .services-card h3 {
        font-size: .7rem;
    }
    .services-card p {
        font-size: .6rem;
    }
    .services-card {
        height: 80%;
    }
}

@media (max-width: 700px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

     #check:checked~.icons #close-icon {
        display: block;
     }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: transparent;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, O, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
    }
    .home {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 20px;
        padding: 90px 5% 20px;
        height: auto;
        
    }
    .home-content h1 {
       font-size: 40px;
       font-weight: 500;
       line-height: 1;
    }
    .home-int {
        display: flex;
        gap: 20px;
    }
    .btn {
        bottom: 30px;
    }
    .about {
        min-height: auto;
    }
    .name {
        width: 280px;
        
    }
    .box h3 {
        font-size: 8px;
    }
    .box span {
        font-size: 8px;
    }
    .box i {
        font-size: 1rem;
    }
    .btn1, .btn2 {
        width: 130px;
        height: 30px;
        border-radius: 10px;
        font-size: 12PX;
        font-weight: 600;
    }
    .stats-box i {
        font-size: 20px;
    }
    .stats-box h2 {
       font-size: .7rem;
    }
    .stats-box p {
       font-size: .5rem;
    }
    .stats {
        gap: 0rem;
    }
    .stats-box {
        gap: 0rem;
    }
    .skills {
        display: grid;
    }
    .services-card {
        display: grid;
    }

}
@media (max-width: 480px) {
    .stats-box i {
        font-size: 12px;
    }
    .stats-box h2 {
       font-size: .4rem;
    }
    .stats-box p {
       font-size: .3rem;
    }
    .stats {
        gap: 0rem;
    }
    .stats-box {
        gap: .3rem;
    }
}